<nb-card>
  <nb-card-header>Google Maps with search</nb-card-header>
  <nb-card-body>
    <ngx-search></ngx-search>
    <app-map></app-map>
  </nb-card-body>
</nb-card>
<nb-card *ngIf="tripInfo.totalDistance">
  <nb-card-header>Trip info</nb-card-header>
  <nb-card-body>
    <ngx-trip-info></ngx-trip-info>
  </nb-card-body>
</nb-card>
