@import '../../styles/themes';

@include nb-install-component() {
  h6 {
    margin-bottom: 0.5rem;
  }

  .gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .wrapper {
    display: table;
  }

  .container {
    display: table-cell;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 50%;
  }

  .element:nth-last-child(1) > div > nb-card > nb-card-body {
    color: rgba(255, 60, 63, 0.9);
    //background-color: rgba(255, 60, 63, 0.9)
  }

  .element:nth-child(1) > div > nb-card > nb-card-body {
    color: rgba(63, 255, 107, 0.9);
    //background-color: rgba(63, 255, 107, 0.9)
  }

  .selected {
    background-color: rgba(0, 0, 0, 0.07);
  }

  .black:nth-last-child(1) > div > nb-card> nb-card-body{
    color: rgba(0, 0, 0, 1) !important;
  }

  .element > div > nb-card > nb-card-body {
    color: black;
    @include nb-for-theme(cosmic) {
      color: nb-theme(link-color);
    }
  }

  .element:hover > div > nb-card > nb-card-body {
    background-color: rgba(0, 0, 0, 0.05);
  }

  nb-card {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    margin-top: 1.25rem;
  }

  .settings-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 90%;
    margin: 0 0 1rem;

    a {
      text-decoration: none;
      font-size: 1.00rem;

      color: #000000;

      &.selected {
        color: nb-theme(color-success);
      }

      @include nb-for-theme(cosmic) {
        &.selected {
          color: nb-theme(link-color);
        }
      }
    }
  }

  .map-info-button {
    height: 5px;
  }
}

