<div id="gmap" #gmap></div>
<a href="#" class="btn btn-hero-success main-btn" (click)="calcRoute()">Calculate!</a>
<nb-checkbox class="ng-valid ng-touched ng-dirty" (change)="setStartEndPoint($event)">
  <a>Set start place as end too</a>
</nb-checkbox>
