@import '../../@theme/styles/themes';

@include nb-install-component() {

  /* stylelint-disable */
  toaster-container {
    #toast-container .toast-close-button {
      right: 0;
    }
  }

  nb-card-body {
    padding: 0;
  }

  div {
    width: 100%;
    height: nb-theme(card-height-large);
  }
}
